*{
	padding: 0;
	margin: 0;
	list-style: none;
	border: 0;
}
a{
	text-decoration: none;
}
.top{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	word-spacing: 10px;
	line-height: 80px;
}
.top img{
	width: 28px;
	height: 28px;
	vertical-align: middle;
}
.top a{
	color: #000000;
}
.top a:hover{
	color: #87CFB8;
}
.all {
            width: 1350px;
            height: 700px;
            padding: 7px;
            border: 1px solid #ccc;
            margin: 100px auto;
            position: relative;
        }

        .screen {
            width: 1350px;
            height: 700px;
            overflow: hidden;
            position: relative;
        }

        .screen li {
            width: 1350px;
            height: 700px;
            overflow: hidden;
            float: left;
        }

        .screen ul {
            position: absolute;
            left: 0;
            top: 0px;
            width: 10000px;
        }

        .all ol {
            position: absolute;
            right: 10px;
            bottom: 10px;
            line-height: 20px;
            text-align: center;
        }

        .all ol li {
            float: left;
            width: 40px;
            height: 40px;
            background: #fff;
            border: 1px solid #ccc;
            line-height: 40px;
            margin-left: 10px;
            cursor: pointer;
        }

        .all ol li.current {
            background: yellow;
        }

        #arr {
            display: none;
        }

        #arr span {
            width: 80px;
            height: 80px;
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -20px;
            background: #000;
            cursor: pointer;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
            font-family: '黑体';
            font-size: 30px;
            color: #fff;
            opacity: 0.3;
            border: 1px solid #fff;
        }
