*{
	padding: 0;
	margin: 0;
}
.box{
	width: 100%;
	height: 1000px;
}
.left{
	width: 15%;
	height: 1000px;
	background-color: #4B3053;
	margin-left: 8%;
	float: left;
}
.left-navigation{
	width: 90%;
	height: 160px;
	margin: 0 auto;
	margin-top: 60px;
	color: #FFFFFF;	
}

.left-navigation a{
	text-decoration: none;
	color: #FFFFFF;
}
.left-navigation a:hover{
	color: #827C7C;
}

.navigation{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #4B3053;
	text-align: center;
}

.right{
	width: 65%;
	height: 1000px;
	float: left;
	/* background-color: #A9A9A9; */

}
.navigation-bar{
	width: 45%;
	padding-left: 50%;
	background-color: #4B3053;
	margin: 0 auto;
	color: #FFFFFF;
	text-align: center;
}
.navigation-bar a{
	color: #ffffff;
	text-decoration: none;
}
.navigation-bar a:hover{
	color: #827C7C;
}
.title{
	width: 95%;
	height: 60px;
	background-color: #4B3053;
	margin: 0 auto;
	margin-top: 10px;
	color: #FFFFFF;
	text-align: center;
	
}
.Introduction{
	width: 95%;
	height: 400px;
	margin: 0 auto;
	margin-top: 15px;
	background: url(../img/fb5abaaf7ab9e8f00f3d87c41958e1d61f0e8725a25b-skuGIe_fw658.jpg)bottom;
	color: #ffffff;
	font-size: 18px;
}
.learning-experience{
	width: 95%;
	height: 400px;
	background: url(../img/551d8c02ed0e500fa23d4de938b8d402a1b5e7d92ea64-sGDC42_fw658.jpg)bottom;
	margin: 0 auto;
	margin-top: 20px;
	color: #ffffff;
}
.bottom{
	width: 95%;
	height: 55px;
	background-color: #4B3053;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	line-height: 55px;
}
.bottom a{
	text-decoration: none;
	color: #ffffff;
}
.bottom a:hover{
	color: #827C7C;
}