
body{
	background: url(../img/mmexport1552380677738.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 20px;
}
form{
	width: 343px;
	height: 420px;
	margin: 40px auto;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
	overflow: hidden;
}
.Head-portrait{
	width: 200px;
	height: 200px;
	margin-top: 40px auto;
	margin-left: 60px;
	border-radius: 200px;
	border: 5px solid rgba(255,255,255,0.4);
	background: url(../img/B612Kaji_20190322_165749_146.jpg);
	background-size: cover;
}
input{
	width: 276px;
	height: 48px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 4px;
	display: block;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 18px;
	color: #fff;
	padding-left: 45px;
	padding-right: 20px;
	margin-top: 20px;
	background: rgba(255,255,255,0.4);
}
::-webkit-input-placeholder{
	color: #fff;
}
input:focus{
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
	overflow: hidden;
}
.btn{
	width: 138px;
	height: 44px;
	margin: 0 auto;
	margin-top: 20px;
	background: #00B0DC;
	padding: 10.5px 21px;
	border-radius: 6px;
	color: #e1e1e1;
	cursor: pointer;
}
.btn:hover{
	border: 1px solid #253737;
	background-color: #00B0DC;
	text-shadow: 0 1px 0 #333333;
	color: #fff;
}
.btn:active{
	margin-top: 1px;
	text-shadow: 0 -1px 0 #333333;
	border: 1px solid #253737;
	background-color: #00B0DC;
	color: #fff;
}