*{
	padding: 0;
	margin: 0;
}
.box{
	width: 100%;
}
.top{
	width: 100%;
	height: 120px;
	margin: 0 auto;
	background: #F7F7F9;

}
.top-title{
	width: 550px;
	height: 120px;
	float: left;
	line-height: 120px;
	color: #00B4B7;
	padding-left: 8%;
}
.top-navigation{
	width: 550px;
	height: 120px;
	line-height: 120px;
	float: left;
	color: #363636;
	word-spacing: 20px;
}
.top-navigation a{
	text-decoration: none;
	color: #232222;
	font-size: 18px;


}
.top-navigation a:hover{
	width: 60px;
	height: 50px;
	border-radius: 35%;
	background: #00B4B7;
	color: #FAF8F8;
}
.case{
	width: 100%;
	height: 550px;
	background: #D3E1E1;
}
.case img{
	width: 100%;
	height: 100%;
}
.content{
	width: 100%;
	height: 1568px;

}
.service{
	width: 1200px;
	height: 293px;
	margin: 10px auto;
}
.service-img{
	width: 300px;
	height: 200px;
	float: left;
	text-align: center;
	padding-top: 40px;
	line-height: 40px;
}
.dynamic{
	width: 1200px;
	height: 658px;
	margin: 20px auto;
	padding-top: 20px;
	text-align: center;
	
}
.dynamic-dox{
	width: 1200px;
	height: 518px;
	margin: 20px auto;
}
.dynamic-img{
	width: 288px;
	height: 298px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	color: #42433E;
}
.about{
	width: 1200px;
	height: 557px;
	margin: 20px auto;
	
}
.about-img{
	width: 301px;
	height: 267px;
	float: left;
	padding-top: 50px;
	padding-left: 40px;
}
.about-introduce{
	width: 712px;
	height: 296px;
	float: left;
	padding-top: 50px;
	padding-left: 40px;
}
.button{
	width: 149px;
	height: 44px;
	background: #00B4B7;
	text-align: center;
	line-height: 44px;
	margin-top: 20px;
	cursor:pointer
}
.bottom{
	width: 100%;
	height: 92px;
	background: #3D3D3D;
	margin-top: 20px;
}
.bottom-title{
	width: 600px;
	height: 92px;
	padding-left: 100px;
	color: #00B4B7;
	line-height: 92px;
	float: left;
}

.bottom-a{
	width: 300px;
	height: 92px;
	color: #727A82;
	word-spacing: 10px;
	padding-left: 300px;
	float: left;

}
.bottom a{
	text-decoration: none;
	color: #727A82;
}
.bottom a:hover{
	color: #FFFFFF;
}