*{
	padding: 0;
	margin: 0; 
}
.box{
	width: 1100px;
	height: 1010px;
	background: url(../img/81c1fd977ee2bb584ee4a1473053d84e.jpg)bottom;
	color: #ffff;
	margin: 0 auto;
}
.left{
	width: 545px;
	height: 1000px;
	border: 1px solid gray;
	float: left;
}
.title{
	width: 200px;
	height: 50px;
	margin-left: 10%;
	margin-top: 20px;
	border: 1px solid gray;
	text-align: center;
}
.left-content1{
	width: 70%;
	height: 300px;
	margin-top: 20px;
	margin-left: 10%;
	border: 1px solid gray;
	text-indent:2em;
}
.left-content2{
	width: 70%;
	height: 460px;
	margin-top: 20px;
	margin-left: 10%;
	text-indent:2em;
}
.right{
	width: 545px;
	height: 1000px;
	border: 1px solid gray;
	float: left;
}
.right-content1{
	width: 70%;
	height: 900px;
	margin-top: 40px;
	margin-left: 10%;
}
.right-content2{
	width: 100%;s
	height: 300px;
	margin: 0 auto;
	border: 1px solid gray;
}
.right-content2 img{
	width: 80%;
	height: 300px;
	text-align: center;
	margin-left: 10%;
}